---
layout: default
---
<div class="post">

  <article>
    {{ content }}
  </article>

  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}

</div>

<hr>  
    
<!-- Social -->
{% if page.social %}
  <div class="social"> 
  <h2>
    Contact
  </h2>
    <div class="contact-icons">{% include social.liquid %}</div>

    <div class="contact-note">{{ site.contact_note }}</div>
  </div>
{% endif %}

{% if site.newsletter.enabled and site.footer_fixed %}
  {% include scripts/newsletter.liquid center=true %}
{% endif %}

</article>